body {
  margin: 0 0 0 0;
}

.box1{
  width: 200px;
  height: 200px;
  border: solid 10px;
  padding: 20px;
  background-color: blue;
}

.box2{
  width: 200px;
  height: 200px;
  border: solid 20px;
  background-color: red;
  margin-left: 260px;
}

.box3{
  width: 200px;
  height: 200px;
  border: solid 10px;
  background-color: green;
  margin-left: 500px;
}

/*
Beispiel  Verschiebung 2. Box:
width 1. box + 2x border 1. box + padding + 1x border 2.box
*/